<!doctype html>

<head>
    <html lang="en" class="h-100" data-bs-theme="auto">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Сотрудники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Смены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Заказы</a>
                        </li>
                    </ul>
                </div> -->
                <form class="d-flex">
                    <a href="/logout" class="btn btn-outline-light">Выйти</a>
                </form>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-5">Редактирование заказа</h2>
            <div class="card-body card mb-3">
                <div class="form-row">
                    <form action="/edit_status_order" method="post">
                        <input type="hidden" value="<%= order.OrderID %>" name="orderID">
                        <div class="form-group">
                            <label for="orderStatus">Статус заказа</label>
                            <input type="text" class="form-control" id="orderStatus" name="orderStatus" value="<%= order.OrderStatus %>" required>
                        </div>
                        <button type="submit" class="btn btn-warning mt-4">Обновить статус</button>
                    </form>
                </div>
            </div>  
            <div class="form-group">
                <p>Позиции:</p>
                <% orderItems.forEach(orderItem => { %>
                <div class="card-body card mb-3">
                    <div class="form-row">
                        <form action="/edit_order_item" method="post">
                            <input type="hidden" value="<%= orderItem.OrderItemID %>" name="orderItemID"> 
                            <input type="hidden" value="<%= orderItem.OrderID %>" name="orderID">
                            <div class="form-group col-md-6">
                                <label for="menuItemID">Блюдо:</label>
                                <select id="menuItemID" name="menuItemID" class="form-control" required>
                                    <% menuItems.forEach(menuItem => { %>
                                        <option value="<%= menuItem.MenuItemID %>" <%= orderItem.MenuItemID === menuItem.MenuItemID ? 'selected' : '' %>>
                                            <%= menuItem.DishName %>
                                        </option>
                                    <% }); %>
                                </select>
                            </div>
                    
                            <div class="form-group col-md-4">
                                <label for="quantity">Количество:</label>
                                <input type="text" class="form-control" id="quantity" name="quantity" value="<%= orderItem.Quantity %>" required>
                            </div>
                            <button type="submit" class="btn btn-warning mt-4">Обновить</button>
                            <button type="button" class="btn btn-danger mt-4" onclick="removeExistsOrderItem(<%= orderItem.OrderItemID %>)">Удалить</button>
                        </form>
                    </div>
                </div>
                <% }); %>
            </div>
            <form action="/add_items_to_order" method="post">
                <input type="hidden" value="<%= order.OrderID %>" name="orderID">
                <div class="card-body card mb-3">
                    <div class="form-row">
                        <div id="orderItemsContainer">
                        </div>
                    </div>
                    <div class="form-row">
                        <button class="btn btn-info" type="button" onclick="addOrderItem()">Добавить позицию</button>
                        <button id="takeOrderButton" class="btn btn-primary" type="submit" disabled>Сохранить новые позиции</button>
                    </div>
                </div>
            </form>
            <form action="/del_order" method="post">
                <input type="hidden" value="<%= order.OrderID %>" name="orderID">
                <div class="card-body card mb-3">
                    <div class="form-row">
                        <button type="submit" class="btn btn-danger">Удалить заказ</button>
                    </div> 
                </div>
            </form>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary"></span>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        // Функция для удаления позиции заказа из базы данных и из формы
        async function removeExistsOrderItem(orderItemId) {
            await fetch(`/del_order_item/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({orderItemId: orderItemId})
            });
            location.reload();
        }
      </script>
      <script>
        function addOrderItem() {
          const container = document.getElementById('orderItemsContainer');
          const itemCount = container.childElementCount;
      
          const orderItemDiv = document.createElement('div');
          orderItemDiv.className = 'card mb-3';
      
          orderItemDiv.innerHTML = `
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="menuItemID_${itemCount}">Блюдо:</label>
                  <select id="menuItemID_${itemCount}" name="menuItemID_${itemCount}" class="form-control" required>
                    <% menuItems.forEach(menuItem => { %>
                      <option value="<%= menuItem.MenuItemID %>"><%= menuItem.DishName %></option>
                    <% }); %>
                  </select>
                </div>
      
                <div class="form-group col-md-4">
                  <label for="quantity_${itemCount}">Количество:</label>
                  <input type="number" id="quantity_${itemCount}" name="quantity_${itemCount}" class="form-control" min="1" required>
                </div>
      
                <div class="form-group col-md-2">
                  <button type="button" onclick="removeOrderItem(this)" class="btn btn-danger mt-4">Удалить</button>
                </div>
              </div>
            </div>
          `;
      
          container.appendChild(orderItemDiv);
          updateTakeOrderButtonState();
        }
      
        function removeOrderItem(button) {
          const container = document.getElementById('orderItemsContainer');
          container.removeChild(button.closest('.card'));
          updateTakeOrderButtonState();
        }
      
        function updateTakeOrderButtonState() {
          const orderItemsCount = document.getElementById('orderItemsContainer').childElementCount;
          const takeOrderButton = document.getElementById('takeOrderButton');

          takeOrderButton.disabled = orderItemsCount === 0;
        }
      </script>

</body>

</html>